<!doctype html>
<html lang="pt-br">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink=to=fit=no">


    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

    <title>{{title}}</title>
  </head>
  <body>
    <h2><a href="/" target="_self" rel="next">Home</a></h2>
    <h2><a href="/admin" target="_self" rel="next">Admin</a></h2>
    <h2><a href="/registrar" target="_self" rel="next">Registrar</a></h2>
    <h2><a href="/login" target="_self" rel="next">Login</a></h2>

    {% block content %}

    {% endblock %}


    <script src="{{url_for('static', filename='js/bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>